* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;

}


/* Header Styling */

.header{
  background-color:#46466d;
  height:100px;
}
.header>.text-center{
  margin-bottom: 0;
  padding: 20px;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

/* End of Header Styling */

/* Banner Styling */
.hero-image {
  position:relative;
  width: 100%;
}

.hero-image> .img-fluid{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.hero-image>.Banner-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #46466d;
  color: white;
  font-size: 26px;
  padding: 24px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
}

.hero-image:hover .img-fluid{
  opacity: 0.5;
}
.hero-image:hover .Banner-btn {
  opacity: 1;
}

/* End Of Styling */

/* Navbar Styling */

.navbar-nav{
  float: right;
  cursor: pointer;
}

#navbar{
  background-color:#b1b1cd;
}


li {
  margin-right: 30px;
  float: left;
}

.nav-link{
  color: purple;
  font-weight: bolder;
  font-size: 18px;
}
.nav-link2{
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

li :hover:not(.active) {
  background-color:#46466d;
  color: white;
}

/* End of Navbar Styling */

/* Cart Styling */

div#cart{
  float: right;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 60px;
}

.closebtn{
  padding: 0px;
}

.cart-item{
  margin: auto;
  display: block;
}

#cart-table{
  border: 1px solid black;
}


/* End of Cart Styling */



/* Main Content Styling */
#main-content, div.main-content{
    background-color: #e0e0eb;
}


.img-thumbnail{
  border: 2px solid black;
  text-align: center;
}

h6{
  text-align: center;
}
/* End of Main Content Styling */

/* Footer Styling */

footer.jumbotron{
  padding-bottom: 0;
}

#footer{
  background-color: #46466d;
  margin: 0;
  color: white;
}

/* End of Footer Styling */

@media screen and (max-width: 820px) {
  .header a{
    float: none;
    display: block;
    text-align: center;
  }

  .navbar-nav{
    text-align: center;
    float: none;
  }
  .header-right {
    float: none;
  }
}
